---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class='blog-page'>
			<section>
				<ul>
					{
						// allPosts.map((post) => (
						posts.map((post) => (
						<a class='blogtitle' href={`/blog/${post.slug}/`}>
						<li>
								
									<span class="blogtitle">
										{post.data.title}
									</span>
								
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</li>
						</a>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
